@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.padding-container {
  padding: 0 70px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto -10px auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 139px;
  margin-right: 30px;
  position: relative;
}

.navigation-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 4px 0;
  width: 460px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  box-sizing: border-box;
  width: 306px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 12px;
}

.navigation-user .navigation-link {
  min-width: 17px;
  min-height: 23px;
  padding: 20px 12px 20px 12px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promotion-image {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-feature-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  padding: 90px 80px 87px 80px;
}

.advantages-item:nth-child(1n+3) {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 97px 75px 108px 75px;
}

.advantages-features-image {
  margin: 0 0 23px 0;
  padding: 0;
}

.advantages-features-image-present {
  margin: -5px 0 23px 0;
  padding: 0;
}

/*класс button как базовая стилизация линков и кнопок, слишком часто встречаются*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  appearance: none;
  background-color: #756257;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  position: relative;
  padding: 17px 17px 24px 17px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.favorite-link {
  margin-right: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 3px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.favorite-count {
  position: absolute;
  top: 15px;
  left: 24px;
  margin: auto;
  border-radius: 50%;
  background-color: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  padding: 3px 4px 4px;
}

.navigation-link:active .favorite-count {
  color: rgba(255, 255, 255, 0.3);
}

.get-hotel-link {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 37px;
  border: 3px solid transparent;
}

.get-hotel-link:hover {
  background-color: #615048;
}

.get-hotel-link:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.get-hotel-link:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
  outline: none;
}

.promotion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 80px;
}

.promotion-header-container {
  background-color: #9cd2e7;
  background-image: url("../images/bottom-background.png"), url("../images/main-background.jpg");
  background-size: contain, auto 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  min-height: 434px;
  padding-top: 51px;
}

.promotion-title {
  margin: 0 0 31px 0;
  padding: 0;
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promotion-description {
  margin: 0;
  padding: 0;
  width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-container {
  width: 220px;
  padding: 97px 90px 80px 90px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n+4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantage-number {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1n+3) > .advantage-number {
  color: #333333;
}

.advantage-description {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item:nth-child(1n+3) > .advantage-description {
  color: #333333;
}

.advantages-features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-features-title {
  margin-top: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantage-features-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.image-container {
  display: flex;
}

.advantages-photo {
  background-color: #83b3d3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.searching {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.searching-question {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.searching-description {
  margin-top: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
}

.searching-button {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.searching-button:hover {
  background-color: #615048;
}

.searching-button:focus {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #615048;
}

.searching-button:active {
  outline: none;
  background-color: #615048;
  border: 3px solid transparent;
  color: rgba(255, 255, 255, 0.3);
}

.subscription {
  box-sizing: border-box;
  padding-top: 73px;
  padding-bottom: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-subscription {
  background-color: #4F6278;
  background-image: url("../images/subscribe-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 411px;
  color: #ffffff;
  padding-top: 93px;
  padding-bottom: 77px;
}

.subscription-title {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-subscription-title {
  margin-bottom: 29px;
}

.subscription-promo-text {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-subscription-promo-text {
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.subscription-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: #f2f2f2;
  width: 600px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  padding: 0 20px 0 21px;
}

.subscription-input-error {
  border: 2px solid #FF5757;
}

.subscription-input:hover {
  background-color: #E6E6E6;
}

.subscription-input:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.subscription-button {
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
  padding: 0 32px 0 32px;
  border: 3px solid transparent;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.subscription-button:active {
  background-color: #68A2CA;
  border: 3px solid transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.footer-social {
  width: 300px;
  padding-top: 6px;
  padding-bottom: 14px;
  display: flex;
  justify-content: flex-start;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-link {
  display: block;
  position: relative;
  outline: none;
  margin-right: 31px;
}

.footer-social-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  border-radius: 10px;
}

.twitter-link::before {
  padding: 7px 8px 6px 8px;
}

.facebook-link::before {
  padding: 12px 12px 0 12px;
}

.youtube-link::before {
  padding: 6.5px 7px 6.5px 7px;
}

.footer-social-link:focus::before {
  border: 3px solid #83B3D3;
  outline: none;
}

.footer-social-link:active::before {
  border: 3px solid transparent;
}

.footer-social-icons {
  fill: #83B3D3;
}

.footer-social-link:focus .footer-social-icons {
  fill: #68A2CA;
}

.footer-social-link:hover .footer-social-icons {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icons {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-address {
  font-style: normal;
}

.footer-address-phone {
  display: inline-block;
  text-decoration-line: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  position: relative;
}

.footer-address-phone:hover {
  color: #756257;
}

.footer-address-phone::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-address-phone:focus::before {
  border: 3px solid #83B3D3;
}

.footer-address-phone:focus {
  color: #756257;
  outline: none;
}

.footer-address-phone:active::before {
  border: 3px solid transparent;
}

.footer-address-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-htmlacademy {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.htmlacademy-link {
  display: inline-block;
  position: relative;
  outline: none;
  margin-left: 10px;
}

.htmlacademy-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  padding: 18px 22px 22px 18px;
  border-radius: 10px;
}

.htmlacademy-link:focus::before {
  border: 3px solid #83B3D3;
  padding: 18px 22px 22px 18px;
  outline: none;
}

.htmlacademy-link:active::before {
  border: 3px solid transparent;
  padding: 18px 22px 22px 18px;
  outline: none;
}

.htmlacademy-logo {
  fill: #000000;
}

.htmlacademy-link:focus .htmlacademy-logo {
  outline: none;
  fill: #756257;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill: #756257;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill: rgba(117, 98, 87, 0.3);
}

/*Catalog.html*/

.catalog-products {
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #635859;
  background-image: url("../images/catalog-background-1.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 408px;
  margin-bottom: 45px;
}

.catalog-products-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: -8px 0 47px 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 26px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: url("../images/icons/breadcrumbs-arrow.svg");
  right: -16px;
}

.breadcrumbs-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link::before {
  content: "";
  position: absolute;
  padding: 0 5px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  border-radius: 4px;
}

.breadcrumbs-link:hover .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:focus::before {
  border: 3px solid #83B3D3;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active::before {
  border: 3px solid transparent;
}

.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 12px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  color: #ffffff;
  padding: 0;
  margin: 0 0 30px 0;
}

.range-title {
  margin-bottom: 34px;
}

.catalog-filter-group {
  border: none;
  margin: 0 69px 0 0;
  padding: 0;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 169px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin: 0 0 13px 0;
}

.control-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-checkbox::after {
  content: url("../images/icons/checkbox-control.svg");
  position: absolute;
  top: -2%;
  left: 20%;
}

.control-input[type="checkbox"]:hover + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:active + .control-checkbox {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 3px solid transparent;
}

.control-radio {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-input[type="radio"]:checked + .control-radio::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  background-color: #3F5E72;
}

.control-input[type="radio"]:focus + .control-radio {
  outline: 3px solid #83B3D3;
}

.range-wrapper-inputs {
  margin: 0 0 28px 0;
}

.catalog-filter-label {
  position: relative;
}

.range-input {
  width: 144px;
  height: 48px;
  padding: 10px 37px 10px 17px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  font: inherit;
  color: #ffffff;
}

.range-input[name="min-price"] {
  border-radius: 4px 0 0 4px;
}

.range-input[name="max-price"] {
  margin: 0 0 0 -6px;
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.range-input:focus {
  outline: 3px solid #81B3D2;
  box-shadow: inset 0 0 0 3px #81B3D2;
  border: 2px solid #ffffff;
}

.range-input:active {
  background-color: #756257;
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: none;
}

.range-input-text {
  position: absolute;
  right: 17px;
  top: 0;
  color: rgba(255, 255, 255, 0.3);
  font: inherit;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle {
  top: -8px
}

.control-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-button {
  font-size: 16px;
  line-height: 21px;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  margin-bottom: 15px;
  border: 3px solid transparent;
}

.filter-button:hover {
  background-color: #68A2CA;
}

.filter-button:focus {
  outline: none;
  border: 3px solid #ffffff;
  background-color: #68A2CA;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  border: 3px solid transparent;
}

.button-reset {
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  background: none;
  border: 3px solid transparent;
}

.button-reset:focus {
  outline: none;
  border: 3px solid #83b3d3;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 38.82px;
  text-transform: uppercase;
  margin: 0 192px 0 0;
  padding: 0;
}

.sorting-select-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.sorting-select-control {
  width: 287px;
  height: 48px;
  padding: 8px 48px 13px 18px;
  font: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  margin: 0 81px 0 0;
}

.sorting-select-control:hover,
.sorting-select-control:focus {
  outline: none;
  border: 2px solid #83B3D3;
}

.select-arrow {
  position: absolute;
  z-index: -1;
  right: 100px;
  top: 20px;
  fill: rgba(0, 0, 0, 0.4);
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-select-control:active {
  outline: none;
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}

.sorting-select-control:active + .select-arrow {
  outline: none;
  fill: #E6E6E6;
}

.sorting-item:not(:last-child) {
  margin-right: 8px;
}

.sorting-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-button:focus, .sorting-button:hover {
  border: 2px solid #83B3D3;
  outline: none;
}

.sorting-button-active {
  border: 2px solid #000000;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
}

.hotel-card-list {
  margin: 0 0 30px 0;
  padding: 0 0 32px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 18px;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card-item {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 16px;
}

.hotel-card-link {
  display: flex;
  margin: 0;
  width: 100%;
  grid-column: 1/ -1;
  box-sizing: border-box;
}

.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.hotel-card-link:active {
  outline: none;
  opacity: 0.3;
}

.hotel-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  grid-column: 1 / -1;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  grid-column: 1 / 2;
}

.hotel-card-min-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-details-link {
  font-size: 16px;
  line-height: 21px;
  height: 37px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.hotel-card-details-link:hover {
  background-color: #615048;
}

.hotel-card-details-link:focus {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #615048;
}

.hotel-card-details-link:active {
  outline: none;
  background-color: #615048;
  border: 3px solid transparent;
  color: rgba(255, 255, 255, 0.3);
}

.add-favorite-card-button {
  background-color: #83b3d3;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
  box-sizing: border-box;
}

.add-favorite-card-button:hover {
  background-color: #68A2CA;
  border: 1px solid #756257;
}

.add-favorite-card-button:focus {
  outline: none;
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.add-favorite-card-button:active {
  border: 1px solid #756257;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-cart-added {
  background-color: #7DB54F;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
  box-sizing: border-box;
}

.button-cart-added:hover {
  background-color: #6C9E42;
}

.button-cart-added:focus {
  outline: none;
  border: 3px solid #756257;
  background-color: #6C9E42;
}

.button-cart-added:active {
  border: 3px solid transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.rating-container {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.hotel-card-quality {
  margin: 0;
  padding: 0;
}

.hotel-card-rating-image {
  display: inline-block;
  position: relative;
  margin: 0 20px 0 0;
  padding: 0;
}

.hotel-card-rating-image:last-child {
  margin: 0;
}

.hotel-card-rating-image::before {
  content: url("../images/icons/rating.svg");
  position: absolute;
  top: -10px;
}

.hotel-card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 160px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-show-more {
  align-self: center;
  justify-self: center;
  background-color: #83b3d3;
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.pagination-show-more:active {
  background-color: #68A2CA;
  border: 3px solid transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E6E6E6;
  padding-top: 27px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: #83b3d3;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 55px;
  min-width: 55px;
  padding: 0 10px;
  box-sizing: border-box;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.pagination-link:active {
  background-color: #68A2CA;
  border: 3px solid transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #000000;
}

.total-hotels-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.total-hotels-show {
  margin: 0 51px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.total-hotels-count {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
  width: 160px;
  height: 48px;
  padding: 11px 40px 13px 13px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  margin: 0;
}


.total-hotels-count:hover {
  border: 2px solid #83b3d3;
}

.total-hotels-count:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.total-hotels-count:active {
  outline: none;
  border: 2px solid #E6E6E6;
  color: #E6E6E6;
}

.count-arrow {
  position: absolute;
  z-index: -1;
  right: 23px;
  top: 25px;
  fill: rgba(0, 0, 0, 0.4);
}

.total-hotels-count:active + .count-arrow {
  outline: none;
  fill: #E6E6E6;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 60px 70px 70px 70px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal-search {
  width: 715px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 56px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #F2F2F2;
  cursor: pointer;
  border: 3px solid transparent;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: none;
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
  background-color: #E6E6E6;
  border: 3px solid transparent;
}

.close-button {
  fill: #000000;
}

.modal-close-button:active .close-button {
  fill: rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0 0 60px 0;
  padding: 0;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.field-group {
  width: 100%;
  position: relative;
  margin: 0 0 40px 0;
  grid-column: 1 / -1;
}

.check-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.modal-form-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.check-input {
  width: 420px;
  height: 50px;
  padding: 10px 50px 10px 15px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: 3px solid transparent;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.check-input:hover {
  background-color: #E6E6E6;
}

.check-input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.check-input:active {
  outline: none;
  border: 3px solid #000000;
  background-color: #ffffff;
}

.check-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.check-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.check-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.check-input-active {
  outline: none;
  border: 3px solid #000000;
  background-color: #ffffff;
}

.check-label:after {
  display: block;
  content: url("../images/icons/date.svg");
  position: absolute;
  top: 15px;
  right: 20px;
}

.success-message,
.error-message {
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  top: 44px;
  left: 155px;
}

.error-message {
  color: #FF5757;
}

.people-count-container {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.people-count-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.count-wrapper {
  position: relative;
  display: flex;
  margin-left: auto;
}

.people-count-input {
  width: 43px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: 3px solid transparent;
  outline: none;
  background-color: #F2F2F2;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.people-count-input::-webkit-outer-spin-button,
.people-count-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.count-button {
  display: block;
  width: 43px;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
}

.count-button:hover .count-icon {
  fill: #000000;
}

.count-button:active .count-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.count-button::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 3px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.increment-button::before {
  top: 50%;
  left: 40%;
}

.decrement-button::before {
  top: 50%;
  left: 65%;
}

.count-button:focus::before {
  border: 3px solid #83B3D3;
}

.count-button:active::before {
  border: 3px solid transparent;
}

.count-icon {
  position: absolute;
  fill: rgba(0, 0, 0, 0.4);
}

.increment-icon {
  top: 35%;
  right: 45%;
}

.decrement-icon {
  top: 50%;
  left: 50%;
}

.count-button:focus.count-icon {
  display: block;
  border: 3px solid #9cd2e7;
}

.increment-button {
  border-radius: 0 4px 4px 0;
  background-color: #F2F2F2;
}

.decrement-button {
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.children-group {
  padding: 0 0 0 20px;
}

.people-count-label {
  display: flex;
  align-self: center;
}

.adult-text {
  margin-right: 73px;
}

.children-text {
  margin-right: 10px;
}

.modal-search-submit {
  grid-column: 1 / -1;
  height: 60px;
  border-radius: 10px;
  background-color: #83B3D3;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.modal-search-submit:hover {
  background-color: #68A2CA;
}

.modal-search-submit:focus {
  background-color: #68A2CA;
  outline: none;
  border: 3px solid #756257;
}

.modal-search-submit:active {
  background-color: #68A2CA;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.tooltip {
  display: inline-block;
  align-self: center;
  margin-right: 24px;
  position: relative;
}

.tooltip-toggle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  border: 2px solid transparent;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.tooltip-toggle:hover {
  background-color: #68A2CA;
}

.tooltip-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 18px 18px 26px 22px;
  width: 256px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 165%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
  box-sizing: border-box;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  top: -3%;
  left: 46%;
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-color: #333333;
  transform: rotate(45deg);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

