@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.padding-container {
  padding: 0 72px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-user {
  width: 306px;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.promotion-image {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-feature-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-features-item {
  padding: 0 75px;
  width: 250px;
}

.advantages-item:nth-child(1n+3) {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0 75px;
}

/*класс button как базовая стилизация линков и кнопок, слишком часто встречаются*/

.button {
  background-color: #756257;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.get-hotel-link {
  font-size: 20px;
  line-height: 26px;
}

.promotion-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion-header-container {
  background-color: #9cd2e7;
  background-image: url("../images/main-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 485px;
}

.promotion-title {
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.promotion-description {
  width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages-container {
  width: 220px;
  padding: 0 90px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n+4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-number {
  font-weight: 400;
  text-align: center;
}

.advantages-item:nth-child(1n+3)>.advantage-number {
  color: #333333;
}

.advantage-description {
  font-weight: 400;
  text-align: center;
}

.advantages-item:nth-child(1n+3)>.advantage-description {
  color: #333333;
}

.advantages-features-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-features-description {
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-photo {
  background-color: #83b3d3;
}

.searching {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.searching-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
}

.searching-button {
  font-size: 20px;
  line-height: 36px;
  width: 575px;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-subscription {
  background-image: url("../images/subscribe-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 411px;
  color: #ffffff
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-promo-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-subscription-promo-text {
  color: #ffffff;
}

.subscription-input {
  background-color: #f2f2f2;
}

.subscription-button {
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
}

.main-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1056px;
}

.footer-social {
  width: 130px;
}

.footer-address {
  font-style: normal;
}

.footer-address-phone {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

/*Catalog.html*/

.catalog-products {
  background-color: #83b3d3;
  background-image: url("../images/catalog-background-1.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 408px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 77.64px;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  color: #ffffff;
}

.control-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #ffffff;
}

.filter-button {
  font-size: 16px;
  line-height: 20.7px;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
}

.button-reset {
  background: none;
  border: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 38.82px;
  text-transform: uppercase;
}

.sorting-select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card-item {
  width: 340px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.06px;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.hotel-card-min-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.hotel-card-details-link {
  font-size: 16px;
  line-height: 20.7px;
  width: 133.01px;
  height: 37px;
}

.add-favorite-card-button {
  background-color: #83b3d3;
  width: 140.94px;
  height: 37px;
  font-size: 16px;
  line-height: 20.7px;
}

.hotel-card-rating {
  background-color: #f2f2f2;
  width: 160px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-show-more {
  background-color: #83b3d3;
  width: 619.83px;
  height: 60px;
  font-size: 20px;
  line-height: 25.88px;
}

.pagination-link {
  background-color: #83b3d3;
  color: #ffffff;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.88px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.total-hotels-show {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}

.total-hotels-count {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.29px;
  color: #333333;
}


